{% import "Ceres::Basket.Macros.AddToBasket" as AddToBasket %}
{% import "Ceres::Item.Macros.AgeRestriction" as AgeRestriction %}

{% set itemData = config("Ceres.item.data") | split(', ') %}
{% set enabledRoutes = config("IO.routing.enabled_routes") | split(', ') %}
{% set shippingCat = config("Ceres.global.shippingCostsCategoryId") %}

<script type="x/template" id="vue-single-item">
    <div>
        <div class="single container-max page-content">
            <div class="row mt-5 position-relative">

                <div class="col-md-7">
                    <slot name="ImageCarousel"></slot>
                    <div class="ueberschriftGallerie">
                      <span v-for="(property, index) in currentVariation.properties" v-if="property.property.id == 25">Videos</span>
                    </div>
                    <div v-for="(property, index) in currentVariation.properties" v-if="property.group.id == 10" class="videoGallerySingle" >
                                <a v-bind:href="'https://www.youtube.com/embed/'+property.texts.value" data-lity>
                                  <img :src="'https://img.youtube.com/vi/'+property.texts.value+'/mqdefault.jpg'">
                                  <div class="overlayVideoGallery">Video ansehen</div>
                                </a>

                                <div id="inline" style="background:#fff" class="lity-hide">
                                Inline content
                                </div>
                            </div>
                </div>


                <div class="col-md-5 single-rightside">
                    {% include "Stoune::Item.Components.SingleItem.SingleItem_Details" %}
                </div>

                <div class="col-md-12">
                    {% include "Stoune::Item.Components.SingleItem.SingleItem_InformationTable" %}
                </div>
            </div>

            <slot name="ItemListContainer"></slot>
            <slot name="FeedbackContainer"></slot>
        </div>
    </div>
</script>
